DJANGO_SECRET_KEY=change-me-to-a-long-random-string
DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgres://skillsphere:skillsphere@db:5432/skillsphere
REDIS_URL=redis://redis:6379/0
CORS_ALLOWED_ORIGINS=http://localhost:3000

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=

# Stage 2
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=noreply@skillsphere.local
PROJECT_UPLOAD_MAX_SIZE_BYTES=26214400
PROJECT_UPLOAD_ALLOWED_CONTENT_TYPES=application/pdf,application/zip,application/x-zip-compressed,image/png,image/jpeg
CELERY_TASK_ALWAYS_EAGER=False

DJANGO_SUPERUSER_EMAIL=admin@skillsphere.local
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=change-me
